---
import Section from "../section.astro";
---

<Section color="Black">
  <div slot="body">
    <h2 class="pt-40">Model X</h2>
    <h3>From $63,990³</h3>
    <p>After Federal Tax Credit & Est. Gas Savings</p>
  </div>

  <div slot="footer">
      <a class="">
        Order Now
      </a>
      <a class="">
        Demo Drive
      </a>
</div>

  <img slot="background" src="/modelX.avif" alt="modelx">
</Section>
