---
import Section from "../section.astro";
---

<Section color="black">
  <div slot="body">
    <h2 class="text-current pt-40 text-5xl font-medium">Model Y</h2>
    <h3 class="text-current text-sm">From $31,490ยน</h2>
    <p>After Federal Tax Credit & Est. Gas Savings</p>
  </div>

  <div slot="footer">
    <a
      class="border-white bg-white/5 backdrop-blur-sm text-white border-2 rounded px-8 py-2 font-medium hover:bg-white hover:text-black transition-colors"
      href="#">Order Now</a
    >
    <a
      class="border-white bg-white/5 backdrop-blur-sm text-white border-2 rounded px-8 py-2 font-medium hover:bg-white hover:text-black transition-colors"
      href="#">Demo Drive</a
    >
  </div>
  <img
  class="w-full h-full object-center h-screen object-cover"
    slot="background"
    alt="modelY"
    src="/modelY.avif"
  >
</Section>




